
<!-- doctor crud start -->

<div class="container" style="margin-top: 4%;">
    <div class="row">
      <div class="col-lg-6">
        <div class="fieldHead">
          <div class="middle">
            <div class="card1">
              <div class="cd-body">DOCTORS</div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-lg-6">
        <button type="button" class="btn btn3 btn-primary"  (click)="openDoctorModal(Doctortemplate,'null')">ADD MORE</button>
      </div>
    </div>
  </div>
  
  
  <!-- table no. 1 -->
  
  
  <div class="container">
    <div class="table">
      <table class="table table-striped text-center table-hover ">
        <thead>
          <tr>
            <th scope="col">SR. NO.</th>
            <th scope="col">NAME</th>
            <th scope="col">EXPERTIES</th>
            <th scope="col">MOBILE</th>
            <th scope="col">EXPERIENCE</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        
        <tbody>
          <tr  *ngFor="let doctor of DoctorData; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{doctor.name | titlecase }}</td>
            <td>{{doctor.experties}}</td>
            <td>{{doctor.mobile}}</td>
            <td>{{doctor.experience}}</td>
            <td>
              <button type="button" class="btn btn4  btn-warning"  (click)="openDoctorModal(editDoctortemplate,i)">Edit</button> &nbsp;&nbsp;
              <button type="button" class="btn btn5  btn-warning"  (click)="DeleteDoctor(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  
  
  <!-- * * * * * * * * * * * * * * * * Doctor Template Start * * * * * * * * * * * * * * * * -->
  
  
  
  
  <ng-template #Doctortemplate>
    <div class="modal-header">
      <h4 class="modal-title"><i class="fa fa-heartbeat" style="font-size:35px;color:red"></i> NewLife Doctor</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="doctorClose()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
      <div id="emailHelp" class="form-text">Add new Doctor here with <br> <span class="ntext">  Experties and all details.</span></div> 
      
      <div class="mb-2 mt-1">
        <div class="resetregimg">
          <img src="../assets/image/reset.png" (click)="resetDoctor()" alt=""><br><br>
         </div>
        <input type="text" class="form-control regform" placeholder="Doctor full name" [(ngModel)]="doctorName">
      </div>
  
     <div class="mb-3 mt-3">
        <select class="form-select" id="sel" name="sellist"  [(ngModel)]="doctorExperties">
           <option value="" disabled selected>Experties</option>
           <option value="Robotic Surgeon">Robotic Surgeon</option>
           <option value="Dermatologists">Dermatologists</option>
           <option value="Cardiologists">Cardiologists</option>
           <option value="Dentist">Dentist</option>
           <option value="Orthopaedic">Orthopaedic</option>
            <option value="Gynecologist">Gynecologist</option>
           <option value="Neurosurgery">Neurosurgery</option>
       </select>
      </div>
  
      <div class="mb-2 mt-4"> 
        <input type="number" class="form-control" placeholder="Mobile no." [(ngModel)]="doctorMobile">
       </div>
  
       <div class="mb-3 mt-3">
         <select class="form-select" id="sel" name="sellist"  [(ngModel)]="doctorExperience">
          <option value="" disabled selected>Working Experience in year</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
        </select>
      </div>
  
      <div class="d-grid">
        <button type="button" class="btn btn6 btn7 btn-primary btn-block" (click)="submitDoctor()">Submit</button>
      </div>
  
      <div id="emailHelp" class="form-text tncline">Note : All Terms & Conditions apply*</div> 
  
   </div>
  </ng-template>
  
  
  
  
  <!-- * * * * * * * * * * * * * * * * edit Doctor Template Start * * * * * * * * * * * * * * * * -->
  
  
  
  
  <ng-template #editDoctortemplate>
    <div class="modal-header">
      <h4 class="modal-title"><i class="fa fa-heartbeat" style="font-size:35px;color:red"></i> NewLife Doctor</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="doctorClose()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
      <div id="emailHelp" class="form-text">Edit Doctor's details here with <br> <span class="ntext">  Experties and all details.</span></div> 
      
      <div class="mb-2 mt-1">
        <div class="resetregimg">
          <img src="../assets/image/reset.png" (click)="resetDoctor()" alt=""><br><br>
         </div>
        <input type="text" class="form-control regform" placeholder="Doctor full name" [(ngModel)]="doctorName">
      </div>
  
     <div class="mb-3 mt-3">
        <select class="form-select" id="sel" name="sellist"  [(ngModel)]="doctorExperties">
           <option value="" disabled selected>Experties</option>
           <option value="Robotic Surgeon">Robotic Surgeon</option>
           <option value="Dermatologists">Dermatologists</option>
           <option value="Cardiologists">Cardiologists</option>
           <option value="Dentist">Dentist</option>
           <option value="Orthopaedic">Orthopaedic</option>
            <option value="Gynecologist">Gynecologist</option>
           <option value="Neurosurgery">Neurosurgery</option>
       </select>
      </div>
  
      <div class="mb-2 mt-4"> 
        <input type="number" class="form-control" placeholder="Mobile no." [(ngModel)]="doctorMobile">
       </div>
  
       <div class="mb-3 mt-3">
         <select class="form-select" id="sel" name="sellist"  [(ngModel)]="doctorExperience">
          <option value="" disabled selected>Working Experience in year</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
        </select>
      </div>
  
      <div class="d-grid">
        <button type="button" class="btn btn6 btn7 btn-primary btn-block" (click)="editDoctor()">Update</button>
      </div>
  
      <div id="emailHelp" class="form-text tncline">Note : All Terms & Conditions apply*</div> 
  
   </div>
  </ng-template>
  
  